<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bigfoot Finder</title>
  <link rel="icon" href="favicon.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <meta charset="utf-8">
  <script defer type="module" src="app.js"></script>
  <script defer>
    // document.addEventListener('htmx:afterRequest', function(event) {
    //   const query = event.detail.requestConfig.parameters.query
    //   event.detail.pathInfo.responsePath = `/search?query=${query}`
    //   console.log('htmx:afterRequest event fired!', event)
    // })
    // document.addEventListener('htmx:beforeRequest', function(event) {
    //   const query = event.detail.requestConfig.parameters.query
    //   console.log('htmx:beforeRequest event fired!', event)
    // })
  </script>
</head>

<body class="text-gray-800" >

  <main>

  </main>

  <div hx-get="text-gray-500 drop-shadow-sm">🔎</span>
  <input
    class="w-full bg-transparent outline-none px-2"
    hx-post="http://localhost:3000/api/search"
    hx-target="main"
    hx-push-url="/search"
    hx-ext="json-enc"
    hx-vals='{ "count": 5 }'
    handlebars-template="search-results-template"
    type="text"
    name="query"
    placeholder="Search for Bigfoot..."
  >


  <template id="search-results-template">

    <div hx-get="/search-bar.html" hx-swap="outerHTML" hx-trigger="load" hx-push-url="false"></div>

    {{#each this}}
      <h2
        class="text-4xl pt-6"
        hx-post="http://localhost:3000/api/fetch"
        hx-target="main"
        hx-push-url="/sighting/{{id}}"
        hx-ext="json-enc"
        hx-vals='{ "id": "{{id}}" }'
        handlebars-template="sighting-template"
      >{{title}}</h2>
      <p>{{observed}}</p>
    {{/each}}

    <button hx-get="/main.html" hx-target="main" hx-push-url="/">Home</button>

  </template>

</body>

</html>
